.ui-drop-hover {
	border: 7px solid red;
}


.ui-draggable-dragging{
    box-shadow:0 0 2px #c0c0c0;
    background-color: #e8eaf6;
}

#dropdiv {
/* 	width: 380px; */
/* 	height: 200px; */
	float: right;
/* 	margin-right: 10px; */
}

table th, table td, table tr {
	height: 30px;
	width: 250px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px;
}
table span {
	display: block;
	background-color: #e8eaf6;
/* 	color: white; */
	height: 100%;
	width: 100%;
}

.table-striped>tbody>tr:nth-child(odd)>td,
tr.found{
    background-color:#CECBCB;
}

.panel-footer{
    height:70px; 
}

.panel-heading{
    height:40px; 
    font-weight: bold;
padding-left: 30px;
font-size: large;
}

.list-group-item {
    padding: 5px 10px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}



